
/****** Object:  Table [dbo].[Cargo]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[CargoId] [int] IDENTITY(1,1) NOT NULL,
	[CargoDescricao] [varchar](50) NULL,
	[SalarioMinimo] [decimal](12, 2) NULL,
	[SalarioMaximo] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CargoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[DepartamentoNome] [varchar](50) NULL,
	[DepartamentoGerente] [int] NULL,
	[LocalidadeId] [int] NULL,
	[DepartamentoCentroCusto] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[FuncionarioId] [int] IDENTITY(1,1) NOT NULL,
	[FuncionarioNome] [varchar](50) NULL,
	[CargoId] [int] NULL,
	[FuncionarioSalario] [decimal](12, 2) NULL,
	[DepartamentoId] [int] NULL,
	[FuncionarioDataContratacao] [date] NULL,
	[FuncionarioNascimento] [date] NULL,
	[FuncionarioComissao] [decimal](5, 2) NULL,
	[FuncionarioEmail] [varchar](100) NULL,
	[FuncionarioCodigoGerente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FuncionarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeSalario]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeSalario](
	[GradeNivel] [varchar](10) NOT NULL,
	[SalarioMinimo] [decimal](12, 2) NULL,
	[SalarioMaximo] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidade]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidade](
	[LocalidadeId] [int] IDENTITY(1,1) NOT NULL,
	[LocalidadeNome] [varchar](100) NULL,
	[LocalidadeRua] [varchar](150) NULL,
	[LocalidadeCEP] [varchar](8) NULL,
	[LocalidadeUF] [varchar](2) NULL,
	[LocalidadePais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 05/02/2026 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[PaisNome] [varchar](50) NULL,
	[PaisDDI] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([CargoId], [CargoDescricao], [SalarioMinimo], [SalarioMaximo]) VALUES (1, N'PROGRAMADOR', CAST(3500.00 AS Decimal(12, 2)), CAST(9000.00 AS Decimal(12, 2)))
INSERT [dbo].[Cargo] ([CargoId], [CargoDescricao], [SalarioMinimo], [SalarioMaximo]) VALUES (2, N'SUPORTE', CAST(3500.00 AS Decimal(12, 2)), CAST(9000.00 AS Decimal(12, 2)))
INSERT [dbo].[Cargo] ([CargoId], [CargoDescricao], [SalarioMinimo], [SalarioMaximo]) VALUES (3, N'ANALISTA', CAST(3500.00 AS Decimal(12, 2)), CAST(9000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNome], [DepartamentoGerente], [LocalidadeId], [DepartamentoCentroCusto]) VALUES (2, N'SUPORTE', NULL, 1, N'001.02')
INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNome], [DepartamentoGerente], [LocalidadeId], [DepartamentoCentroCusto]) VALUES (3, N'COMERCIAL', NULL, 1, N'001.01')
INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNome], [DepartamentoGerente], [LocalidadeId], [DepartamentoCentroCusto]) VALUES (4, N'DESENVOLVIMENTO', NULL, 2, N'001.03')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([FuncionarioId], [FuncionarioNome], [CargoId], [FuncionarioSalario], [DepartamentoId], [FuncionarioDataContratacao], [FuncionarioNascimento], [FuncionarioComissao], [FuncionarioEmail], [FuncionarioCodigoGerente]) VALUES (12, N'SEBASTIÃO', 1, CAST(15000.00 AS Decimal(12, 2)), 2, NULL, CAST(N'1990-02-01' AS Date), CAST(1.00 AS Decimal(5, 2)), N'sebastião@senac.br', NULL)
INSERT [dbo].[Funcionario] ([FuncionarioId], [FuncionarioNome], [CargoId], [FuncionarioSalario], [DepartamentoId], [FuncionarioDataContratacao], [FuncionarioNascimento], [FuncionarioComissao], [FuncionarioEmail], [FuncionarioCodigoGerente]) VALUES (13, N'CARLOS', 1, CAST(14000.00 AS Decimal(12, 2)), 3, NULL, CAST(N'1995-02-01' AS Date), CAST(1.00 AS Decimal(5, 2)), N'carlos@senac.br', 12)
INSERT [dbo].[Funcionario] ([FuncionarioId], [FuncionarioNome], [CargoId], [FuncionarioSalario], [DepartamentoId], [FuncionarioDataContratacao], [FuncionarioNascimento], [FuncionarioComissao], [FuncionarioEmail], [FuncionarioCodigoGerente]) VALUES (14, N'ROBERTA', 2, CAST(13000.00 AS Decimal(12, 2)), 3, NULL, CAST(N'1998-02-01' AS Date), CAST(1.00 AS Decimal(5, 2)), N'roberta@senac.br', 12)
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
INSERT [dbo].[GradeSalario] ([GradeNivel], [SalarioMinimo], [SalarioMaximo]) VALUES (N'A', CAST(14500.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)))
INSERT [dbo].[GradeSalario] ([GradeNivel], [SalarioMinimo], [SalarioMaximo]) VALUES (N'B', CAST(12500.00 AS Decimal(12, 2)), CAST(14499.00 AS Decimal(12, 2)))
INSERT [dbo].[GradeSalario] ([GradeNivel], [SalarioMinimo], [SalarioMaximo]) VALUES (N'C', CAST(10500.00 AS Decimal(12, 2)), CAST(12499.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Localidade] ON 

INSERT [dbo].[Localidade] ([LocalidadeId], [LocalidadeNome], [LocalidadeRua], [LocalidadeCEP], [LocalidadeUF], [LocalidadePais]) VALUES (1, N'ASSIS', N'AV. BRASIL', N'19060000', N'SP', 1)
INSERT [dbo].[Localidade] ([LocalidadeId], [LocalidadeNome], [LocalidadeRua], [LocalidadeCEP], [LocalidadeUF], [LocalidadePais]) VALUES (2, N'LONDRINA', N'AV. BRASIL', N'13060000', N'PR', 1)
INSERT [dbo].[Localidade] ([LocalidadeId], [LocalidadeNome], [LocalidadeRua], [LocalidadeCEP], [LocalidadeUF], [LocalidadePais]) VALUES (3, N'BAURU', N'AV. BRASIL', N'19060000', N'SP', 1)
SET IDENTITY_INSERT [dbo].[Localidade] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisId], [PaisNome], [PaisDDI]) VALUES (1, N'BRASIL', N'+55')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [fc_funcionario] FOREIGN KEY([DepartamentoGerente])
REFERENCES [dbo].[Funcionario] ([FuncionarioId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [fc_funcionario]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD FOREIGN KEY([LocalidadeId])
REFERENCES [dbo].[Localidade] ([LocalidadeId])
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([CargoId])
REFERENCES [dbo].[Cargo] ([CargoId])
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([FuncionarioCodigoGerente])
REFERENCES [dbo].[Funcionario] ([FuncionarioId])
GO
ALTER TABLE [dbo].[Localidade]  WITH CHECK ADD FOREIGN KEY([LocalidadePais])
REFERENCES [dbo].[Pais] ([PaisId])
GO
